@using WebApplication1.Helper;
@{
    ViewBag.Title = "Index_htmlhelp";
}

<h5>使用者註冊畫面</h5>

<!--要做一個註冊畫面 1.帳號 2.密碼 3.姓名 4.電話 5.性別 6.相關契約-->

<div>
    <!--使用@@using括弧起來 BinginForm() 相當於<form method="post" ></form> -->
    @using (@Html.BeginForm("Index_htmlhelp", "LoginController"))
    {
        @Html.Label("使用者帳號")
        @Html.TextBox("account", null, new {require = "require"})
        @Html.Label("登入密碼")
        @Html.Password("password", null, new { require = "require" })
        @Html.Label("姓名")
        @Html.TextBox("username", null, new { require = "require" })
        @Html.Label("電話")
        @Html.TextBox("userphone", null, new { require = "require" })
        @Html.Label("性別")
        @Html.Label("男生")
        @Html.CheckBox("Male")
        @Html.Label("女生")
        @Html.CheckBox("Male")
        @Html.Label("不公開")
        @Html.CheckBox("NoGender")
        @Html.Hyperlink("https://www.ey.gov.tw/Page/37D1D3EDDE2438F8","相關契約說名");
    }
</div>
